.wordList {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    table {
        border: solid black 1px;
        width: 80vw;

        th {
            background-color: rgba(248, 227, 205, 0.666);

        }

        th,
        td {
            border: 1px solid grey;
            padding: 10px;
            .deleteBtn {
                border:0;
                border-radius:8px;
                background-color: rgba(234, 13, 13, 0.732);
                width:fit-content;
                height: fit-content;
            }

            .binLogo {
                height: 3vh;
                padding: 3px;
            }
        }

        tr:hover {
            border: 2px solid rgba(8, 147, 216, 0.666);;
        }
    }

    .startBtn {
        border: solid 2px;
        border-color: rgba(8, 147, 216, 0.666);
        border-radius:20px;
        background-color: rgba(205, 226, 248, 0.666);
        width:fit-content;
        padding: 10px 25px 10px 25px;
        margin: 1em;
    }
}

.error {
    border: solid 2px rgb(234, 13, 13);
}